<app-header></app-header>
<body background="http://localhost/imagenes/iconos-cuadrado.png">
    <br>
    <form action="">
        <fieldset>
            <legend>Datos del cliente</legend>
            <table>
                <tr>
                    <td>Cedula:</td>
                    <td><input type="textfield"></td>
                </tr>
                <tr>
                    <td>Nombre:</td>
                    <td><input type="textfield"></td>
                </tr>
                <tr>
                    <td>Facultad:</td>
                    <td><input type="textfield"></td>
                </tr>
                <tr>
                    <td>Carrera:</td>
                    <td><input type="textfield"></td>
                </tr>
            </table>
        </fieldset>
    </form>
    <br>
    <form>
        <fieldset>
        <legend>Opiniones</legend>
        <table>
        <tr>
        <td>
          <input type="radio" name="malo"> Malo
        </td>
        <td>
          <input type="radio" name="bueno"> Bueno
        </td>
        <td>
          <label><input type="radio" name="regular" value="regular">Regular</label>
        </td>
        <td>
         <label><input type="radio" name="Excelente" value="excelente">Excelente</label> 
        </td>
        </tr>
        </table>
        </fieldset>
    </form>
     <br>
    <form action="">
        
        <fieldset>
        <legend>Recomendaciones</legend>
        <table>
            <tr>
                <td>
                    Ingrese su opinion: 
                </td>
                <td>
                    <input type="textfield" class="opinion">  
                </td>
            </tr>
        </table>
      
        </fieldset>
    </form>
    <br>
    <form action="">
        
        <fieldset>
        <legend></legend>
        <table>
            <tr>
               <td>
                <input type="button" value="Guardar" class="guardar">
               </td>
                <td>
                    <input type="button" value="Cancelar" class="cancelar">  
                </td>
            </tr>
        </table>
      
        </fieldset>
    </form>
    <br>
    </body>
    <app-footer></app-footer>