<div class="container mt-5">
    <div class="row">
      <div class="">
        <div class="card">
            <div class="card-body text-center">
                <span>
                    <h2 class="text-center">LISTA DE CUBICULOS</h2>
                </span>
                    <div class="d-flex flex-row-start">
                        <button class="btn btn-primary" routerLink="/formCubiculo"><i class="fas fa-plus fa-1x" style="color: white;"></i> Agregar Cubículo</button>
                    </div>
                    
                <table *ngIf="listaCubic.length >0" class="table table-striped mt-4">
                    <thead style="background: #f26522; color:white;">
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Cubículo número</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Estado</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor = "let cubic of listaCubic">
                        <td>{{cubic.id}}</td>
                        <td>{{cubic.numCubic}}</td>
                        <td>{{cubic.idUser}}</td>
                        <td><i  [ngClass]="cubic.estado=='activo' ? 'fas fa-check-circle':'fas fa-times-circle'" [ngStyle]="{'color':cubic.estado=='activo'? '#49D623':'#e51b29'}"></i></td>
                        <td>
                          <i [routerLink]="['/formCubiculo', cubic.id]" class="fas fa-edit text-primary"></i>
                          <i (click)="deleteCubic(cubic?.id)" class="fas fa-trash-alt text-danger"></i>
                        </td>
                      </tr>
                      
                      
                    </tbody>
                  </table>
                  <h5 *ngIf="listaCubic.length==0">No hay cubículos para mostrar</h5>
            </div>
        </div>

      </div>
      
    </div>

</div>




