<app-header></app-header>
<body background="http://localhost/imagenes/cuadro-letras-gris.png">
    <br><br>
    <form action="">
        <br>
    <h2>Escanear la Cedula</h2>
</form>
<br>
<br>

            <form action="camara">
            <br>
                
            </form>
    
   

    <br>
    <br>
    <form action="acciones">
        <br>
        <input type="button" routerLink="/menuPrincipal" value="Continuar">
        <input type="button" routerLink='/inicio' value="Cancelar">
        <br>
        
    </form>
    <br>
    <br>
</body>
<app-footer></app-footer>
